@font-face {
  font-family: poppins;
  src: url(./font/Poppins-Regular.ttf);
}
@font-face {
  font-family: monstera;
  src: url(/font/Montserrat-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background-color: rgb(48, 54, 59);
  color: rgb(236, 234, 234);
}
.main-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.starter-cont {
  width: 600px;
  height: 500px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.starter-cont img {
  width: 65px;
  height: 65px;
}
.starter-cont h1 {
  margin-top: 15px;
  font-size: 27px;
  font-weight: 600;
}
.starter-cont h2 {
  font-size: 17px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 8px;
}
.rules-cont {
  width: 100%;
  height: 200px;
  padding: 8px;
  display: flex;
  gap: 10px;
  margin-top: 25px;
}
.rules {
  width: 60%;
  height: 100%;
}
.rules h3 {
  font-family: monstera;
  font-size: 14px;
  padding-block: 5px;
}
.rules p {
  font-family: monstera;
  font-size: 12px;
  padding-block: 4px;
}
.btn-start {
  width: 190px;
  padding: 5px 0;
  font-size: 13px;
  border: 1px solid rgb(48, 54, 59);
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(57, 64, 69);
  color: rgb(236, 234, 234);
  transition: 0.2s ease;
}
.btn-start:hover {
  background-color: rgb(67, 71, 75);
}
.luck {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.luck p {
  font-size: 22px;
  font-family: monstera;
  transform: rotate(-35deg);
  font-weight: 600;
}
.exam-wrapper {
  width: 600px;
  height: 600px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.exam-wrapper > img {
  width: 55px;
  height: 55px;
}
.exam-wrapper > h1 {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 600;
}
.exam {
  width: 500px;
  height: 450px;
  margin-top: 20px;
  padding: 5px;
}
.status {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
}
.stastics {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5px;
}
.stastics span {
  font-size: 13px;
  font-family: monstera;
  font-weight: 500;
}
.question {
  width: 100%;
  height: 260px;
  padding: 10px;
  margin-block: 15px;
}
.question p {
  font-size: 16px;
  font-weight: 600;
  font-family: monstera;
}
.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
.option {
  width: 100%;
  height: 40px;
  text-align: left;
  padding-left: 20px;
  font-size: 13px;
  border: 2px solid rgb(55, 61, 66);
  background-color: rgb(55, 61, 66);
  color: rgb(236, 234, 234);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s ease;
}
.option:hover {
  border-color: rgb(76, 81, 87);
  transform: translateX(10px);
}
.options .cliked {
  transform: translateX(10px);
}
.options .correct {
  background-color: rgb(36, 137, 251);
  border-color: rgb(33, 128, 252);
}
.options .wrong {
  background-color: rgb(235, 118, 60);
  border-color: rgb(235, 118, 60);
}
footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15px;
}
.timer {
  width: 80px;
  height: 35px;
  border: 1px solid rgb(76, 81, 87);
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next {
  width: 80px;
  height: 35px;
}
.btn-next {
  width: 80px;
  height: 100%;
  border: 1px solid rgb(76, 81, 87);
  border-radius: 17px;
  background-color: rgb(76, 81, 87);
  color: rgb(236, 234, 234);
  font-size: 13px;
  cursor: pointer;
  transition: 0.4s ease;
}
progress {
  width: 100%;
  height: 15px;
  color: rgb(42, 97, 247);
  margin-block: 5px;
  transition: 0.5s ease;
}
.option:disabled {
  pointer-events: none;
}
.finish-text {
  width: 80%;
  height: 50px;
  text-align: center;
  background-color: rgb(36, 137, 251);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  font-size: 14px;
  font-family: monstera;
  font-weight: 600;
  margin-block: 15px;
}
.finish-text b {
  padding-inline: 5px;
}
.btn-restart {
  width: 150px;
  height: 33px;
  background-color: rgb(55, 61, 66);
  border: 2px solid rgb(55, 61, 66);
  border-radius: 12px;
  color: rgb(236, 234, 234);
  font-size: 13px;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 60px;
  margin-top: 25px;
}
.btn-restart:hover {
  border-color: rgb(76, 81, 87);
}
